html {
     height: 95%;
     overflow: hidden;
}
 body {
     background-color: white;
     height: 100%;
     margin: 0;
     padding: 0 5%;
}
 body.dark-mode {
     background-color: #111;
     height: 100%;
     margin: 0;
     padding: 0 5%;
}
 body.dark-mode h1, body.dark-mode h2 {
     color: white;
     font-family: 'Dosis';
     text-align: center;
     margin: auto;
}
 body.dark-mode .page #switch, 
 body.dark-mode .page .footer #email,
 body.dark-mode .page .footer #discord,
 body.dark-mode .page .footer .email a,
 body.dark-mode .page .footer .twitter,
 body.dark-mode .page .footer .twitch,
 body.dark-mode .page h1,
 body.dark-mode .page h2, 
 body.dark-mode .page .footer .social a {
     color: #ccc;
}

 .page {
     height: 95%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
     cursor: default;
}
 .logo {
     margin: 0 auto;
     display: block;
     user-drag: none;
     user-select: none;
     -moz-user-select: none;
     -webkit-user-drag: none;
     -webkit-user-select: none;
     -ms-user-select: none;
}
 .footer {
     display: none;
     flex-direction: row;
     justify-content: space-between;
     margin: 0;
}
 .footer a i {
     font-weight: 100;
     vertical-align: middle;
}
 .footer a:visited {
     color: currentColor;
}
 .footer a:hover {
     opacity: 0.5;
     padding: 10px;
}
 .footer a {
     font-family: 'Dosis';
     font-weight: bold;
     font-size: 22px;
     margin: 0 1%;
     text-decoration: none;
}

 #email {
     font-weight: bold;
}

#discord {
     font-weight: bold;
}


.header #switch {
     color: #00234b;
     float: right;
     margin-top: 10px;
     font-size: 50px;
     vertical-align: middle;
}

.social {
     color: #00234b !important;
     width: 25% !important;
    text-align: center;
}

.social a {
     color: #00234b;
}

 h1, h2 {
     color: #00234b;
     font-family: 'Dosis';
     text-align: center;
     margin: auto;
}
 h1 {
     font-size: 48px;
     letter-spacing: 3px;
}
 h2 {
     font-size: 24px;
     font-weight: 500;
     letter-spacing: 2px;
}